.header {
  background: #151515 url("../images/hero.jpg") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}

/* Add a semi-transparent dark overlay to the header */
.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1; /* Make sure it's behind the text */
}

/* Ensure text appears above the overlay */
.header .text-container {
  position: relative;
  z-index: 10;
}

.header .roles {
  font-family: "lora-regular", serif;
}

.project:hover {
  transform: scale(1.05);
  transition: all 0.5s ease-in-out;
  opacity: 0.8;
}

.services {
  background: url("../images/f1.jpg") no-repeat center center;
  background-size: cover;
  background-position: center;
}

.services::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.services .container {
  z-index: 10;
}

@media (max-width: 768px) {
  .header .social i {
    font-size: 30px;
  }
  .header .roles {
    font-size: 18px !important;
  }
  .about-content {
    flex-direction: column;
  }
}
.header .social {
  bottom: 50px;
}

.about-img {
  width: 200px;
}

/* give a shadow to the link , loking more clicable */
.link {
  filter: drop-shadow(10px 10px 10px rgba(240, 42, 134, 0.733));
}

/* give a shadow to the button */
.btn {
  filter: drop-shadow(10px 10px 10px rgba(240, 42, 134, 0.733));
}

#exampleModalLabel {
  text-align: center;
  padding-left: 60px;
}

.modal-content {
  background-color: rgb(252, 244, 250);
}
