.header{
    // the image is on top of the dark color
    background: #151515 url("../images/hero.jpg") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}


//CSS pseudo-element-add content after the header without adding any HTML. This is like a ghost element
.header::after{
    content: ''; //when used after or before you have to add content in that case is empty String.
    position: absolute; // position the pseudo-element absolutely, means will overlap the header
    top: 0;
    left: 0; // position the pseudo-element at the top left corner of the header
    width: 100%; // make the pseudo-element cover the entire header
    height: 100%; // make the pseudo-element cover the entire header
    background: rgba(0, 0, 0, 0.6); // add a black background with 50% opacity to the pseudo-element

}

.header .text-container{
    z-index: 10; // make sure the text container is above the pseudo-element. It can be use only with position relative, absolute or fixed.
}

.header .roles{
    font-family: 'lora-regular', serif; // use the lora font for the roles
}





.project:hover{
    transform: scale(1.05); // slightly zoom the card on hover
    transition: all 0.5s ease-in-out; // add a transition effect to the scaling
    opacity: 0.8; // add a transition effect to the opacity
}

.services{
  background: url("../images/f1.jpg") no-repeat center center;
    background-size: cover;
    background-position: center;  
}


//CSS pseudo-element-add content after the header without adding any HTML. This is like a ghost element
.services::after{
    content: ''; //when used after or before you have to add content in that case is empty String.
    position: absolute; // position the pseudo-element absolutely, means will overlap the header
    top: 0;
    left: 0; // position the pseudo-element at the top left corner of the header
    width: 100%; // make the pseudo-element cover the entire header
    height: 100%; // make the pseudo-element cover the entire header
    background: rgba(0, 0, 0, 0.7); // add a black background with 50% opacity to the pseudo-element

}

.services .container{
    z-index: 10; // make sure the text container is above the pseudo-element. It can be use only with position relative, absolute or fixed.
}

@media(max-width: 768px){
    .header .social i{
        font-size: 30px; // make the icons smaller on mobile devices;
    }

.header .roles{
    font-size: 18px !important;
}

.about-content{
   flex-direction: column; 
}
    }

.header .social{
    // the icons are 50px from the bottom
    bottom: 50px;
}

.about-img{
    width: 200px;
}